<header>
  <nav>
    <ul class="menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li {{ if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . )}} class="current-menu"
        {{ end }}>
        <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    <div class="searchbar">

    </div>
    <ul class="contact">
      {{ range $key, $value:= .Site.Params.contact }}
      {{ $icon := $key | printf "svg/%s.svg" }}
      <li>
        <a href="{{ $value }}" target="_blank">
          {{ partial $icon . }}
        </a>
      </li>
      {{ end }}
      <div class="change-language">
        {{ range $.Site.Home.AllTranslations }}
          {{ if eq $.Site.Language.LanguageName "English" }}
            {{ if eq .Language.LanguageName "Português" }}
              <a href="{{ .Permalink }}">Português</a>
            {{ end }}
          {{ else }}
            {{ if eq .Language.LanguageName "English" }}
              <a href="{{ .Permalink }}">English</a>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </ul>
  </nav>
</header>