header {
  position: absolute;
  left: 25vw;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 3rem;
  padding-right: 8rem;
  box-sizing: border-box;

  @media(min-width: 1024px) {
    width: 1024px;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2.5rem;

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;

      li {
        a {
          text-decoration: none;
          color: var(--primary-color);
          padding: 0 1rem;

          &:hover {
            color: var(--primary-darker);
          }
        }
      }

      &.contact {
        li {
          a {
            display: flex;
            padding: 0 0.25rem;
            svg {
              fill: var(--primary-color);
              height: 1.5rem;
            }

            &:hover {
              svg {
                fill: var(--primary-darker);
              }
            }
          }
        }

        .change-language {
          a {
            padding: 0 1rem;
          }
        }
      }

    }
  }
}